@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 181, 211);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #000;
    cursor: pointer;
    box-shadow: 0px 0px 10px #cdb4db;
    color: white;
    width: 100%;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px;
    font-family: 'Sevillana', cursive;
    padding: 5px;
    margin-left: 5rem;
    background-color: #ffc8dd;
    align-items: center;
    color: black;
}

.items ul {
    display: flex;
}

.items ul li {
    padding: 1rem;
    margin-right: 2rem;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.items ul li i {
    padding-right: 5px;
}

.items ul li a {
    color: white;
}

.items ul li:hover {
    background-color: #ffc8dd;
    border-radius: 5px;
    color: black;
}

.items a:hover {
    color: #000;
}

.search {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.search input {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: context-menu;
}

.search i {
    color: black;
    font-size: 20px;
}

.container {
    overflow: hidden;
}

.slides {
    display: flex;
    position: relative;
    width: 200%;
    animation: 20s slides infinite;
    margin: 0;
    left: 0;
}

.container,
.slides img {
    width: 100%;
    float: left;
    margin: 10px;
    border-radius: 10px;
}

@keyframes slides {
    0% {
        left: 0%;
    }

    25% {
        left: -50%;
    }

    50% {
        left: -100%;
    }

    75% {
        left: -200%;
    }

    100% {
        left: -300%;
    }
}

.card {
    /* display: flex; */
    align-items: center;
}